<section class="blog">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <div class="blog-section-title">
          <h2>TECHQUILA</h2>
          <p>View the latest Blogs</p>
        </div>
        <article class="blog-post">
          <div class="blog-post-thumb">
            <img src="https://techquila.istenitc.com/images/mainpage/pic12.jpg" alt="blog-thum" />
          </div>
          <div class="blog-post-content">
            <div class="blog-post-tag">
              <a href="category.html">Biomimicry</a>
            </div>
            <div class="blog-post-title">
              <a href="first-blog.html">Do you know about the innovations made observing nature and taking inspiration from it?</a>
            </div>
            <div class="blog-post-meta">
              <ul>
                <li>By <a href=""></a>Veda Mokshajna—Poster by Utsav Kaushal</a></li>
                <li>
                  <i class="fa fa-clock-o"></i>
                  6 Jan 2024
                </li>
              </ul>
            </div>
            <p>
              Introducing Biomimicry: A Journey Inspired by Nature! Explore the fascinating realm...
            </p>
            <a href="first-blog.html" class="blog-post-action">read more <i class="fa fa-angle-right"></i></a>
          </div>
        </article>
        <article class="blog-post">
          <div class="blog-post-thumb">
            <a href="second-blog.html">
              <img src="https://techquila.istenitc.com/images/mainpage/pic11.png" alt="blog-thum" /></a>
          </div>
          <div class="blog-post-content">
            <div class="blog-post-tag">
              <a href="category.html">GTA & its impact on the gaming world</a>
            </div>
            <div class="blog-post-title">
              <a href="second-blog.html">GTA & its impact on the gaming world</a>
            </div>
            <div class="blog-post-meta">
              <ul>
                <li>By Chanikya </a></li>
                <li>
                  <i class="fa fa-clock-o"></i>
                  26 Dec 2023
                </li>
              </ul>
            </div>

            <p>
              For a video game, the graphics and background score are not the only factors that stimulate the dopamine of the player. 
            </p>
            <a href="second-blog.html" class="blog-post-action">read more <i class="fa fa-angle-right"></i></a>
          </div>
        </article>
        <article class="blog-post">
          <div class="blog-post-thumb">
            <a href="third-blog.html">
              <img src="https://techquila.istenitc.com/images/mainpage/pic10.jpg" alt="blog-thum" /></a>
          </div>
          <div class="blog-post-content">
            <div class="blog-post-tag">
              <a href="third-blog.html">Quantum Dots</a>
            </div>
            <div class="blog-post-title">
              <a href="third-blog.html">Quantum Dots - Will it succeed the Semiconductor Transistor?</a>
            </div>
            <div class="blog-post-meta">
              <ul>
                <li>By Natasha Das and Vishnu </a></li>
                <li>
                  <i class="fa fa-clock-o"></i>
                  03 Dec 2022
                </li>
              </ul>
            </div>

            <p>
              The brand-new field of Quantum Dots holds great promise. So what are Quantum Dots and how do they work?
            </p>
            <a href="third-blog.html" class="blog-post-action">read more <i class="fa fa-angle-right"></i></a>
          </div>
        </article>
        <article class="blog-post">
          <div class="blog-post-thumb">
            <a href="single-blog.html">
              <img src="images/blog/blog-thum-4.png" alt="blog-thum" /></a>
          </div>
          <div class="blog-post-content">
            <div class="blog-post-tag">
              <a href="category.html">Travel</a>
            </div>
            <div class="blog-post-title">
              <a href="single-blog.html">Five Things You Need to Know to Start Your Day</a>
            </div>
            <div class="blog-post-meta">
              <ul>
                <li>By <a href="about.html">Mary Astor</a></li>
                <li>
                  <i class="fa fa-clock-o"></i>
                  October 19, 2020 - 2 min
                </li>
              </ul>
            </div>

            <p>
              Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
              nonumy.
            </p>
            <a href="single-blog.html" class="blog-post-action">read more <i class="fa fa-angle-right"></i></a>
          </div>
        </article>
        <article class="blog-post">
          <div class="blog-post-thumb">
            <a href="single-blog.html">
              <img src="images/blog/blog-thum-5.png" alt="blog-thum" /></a>
          </div>
          <div class="blog-post-content">
            <div class="blog-post-tag">
              <a href="category.html">Travel</a>
            </div>
            <div class="blog-post-title">
              <a href="single-blog.html">Five Things You Need to Know to Start Your Day</a>
            </div>
            <div class="blog-post-meta">
              <ul>
                <li>By <a href="about.html">Mary Astor</a></li>
                <li>
                  <i class="fa fa-clock-o"></i>
                  October 19, 2020 - 2 min
                </li>
              </ul>
            </div>

            <p>
              Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
              nonumy.
            </p>
            <a href="single-blog.html" class="blog-post-action">read more <i class="fa fa-angle-right"></i></a>
          </div>
        </article>
        <article class="blog-post">
          <div class="blog-post-thumb">
            <a href="single-blog.html">
              <img src="images/blog/blog-thum-6.png" alt="blog-thum" /></a>
          </div>
          <div class="blog-post-content">
            <div class="blog-post-tag">
              <a href="category.html">Travel</a>
            </div>
            <div class="blog-post-title">
              <a href="single-blog.html">Five Things You Need to Know to Start Your Day</a>
            </div>
            <div class="blog-post-meta">
              <ul>
                <li>By <a href="about.html">Mary Astor</a></li>
                <li>
                  <i class="fa fa-clock-o"></i>
                  October 19, 2020 - 2 min
                </li>
              </ul>
            </div>

            <p>
              Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
              nonumy.
            </p>
            <a href="single-blog.html" class="blog-post-action">read more <i class="fa fa-angle-right"></i></a>
          </div>
        </article>
        <article class="blog-post">
          <div class="blog-post-thumb">
            <a href="single-blog.html">
              <img src="images/blog/blog-thum-7.png" alt="blog-thum" /></a>
          </div>
          <div class="blog-post-content">
            <div class="blog-post-tag">
              <a href="category.html">Travel</a>
            </div>
            <div class="blog-post-title">
              <a href="single-blog.html">Five Things You Need to Know to Start Your Day</a>
            </div>
            <div class="blog-post-meta">
              <ul>
                <li>By <a href="about.html">Mary Astor</a></li>
                <li>
                  <i class="fa fa-clock-o"></i>
                  October 19, 2020 - 2 min
                </li>
              </ul>
            </div>
            <p>
              Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
              nonumy.
            </p>
            <a href="single-blog.html" class="blog-post-action">read more <i class="fa fa-angle-right"></i></a>
          </div>
        </article>
        <div class="blog-post-pagination">
          <nav aria-label="Page navigation example" class="nav-bg">
            <ul class="pagination">
              <li class="page-item">
                <a class="page-link active" href="#">1</a>
              </li>
              <li class="page-item"><a class="page-link" href="#">2</a></li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item"><a class="page-link" href="#">4</a></li>
              <li class="page-item">
                <a class="page-link" href="#">
                  <i class="fa fa-angle-right"></i>
                </a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="blog-post-widget">
          <div class="latest-widget-title">
            <h2>Trending post</h2>
          </div>
          <div class="latest-widget">
            <div class="latest-widget-thum">
              <a href="single-blog.html">
                <img src="images/blog/blog-thum-8.png" alt="blog-thum" /></a>
              <div class="icon">
                <a href="single-blog.html">
                  <img src="images/blog/icon.svg" alt="icon" /></a>
              </div>
            </div>
            <div class="latest-widget-content">
              <div class="content-title">
                <a href="single-blog.html">Five Things You Need to Know to Start Your Day</a>
              </div>
              <div class="content-meta">
                <ul>
                  <li>
                    <i class="fa fa-clock-o"></i>
                    October 19, 2020 - 2 min
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="latest-widget">
            <div class="latest-widget-thum">
              <a href="single-blog.html">
                <img src="images/blog/blog-thum-9.png" alt="blog-thum" /></a>
              <div class="icon">
                <a href="single-blog.html">
                  <img src="images/blog/icon.svg" alt="icon" /></a>
              </div>
            </div>
            <div class="latest-widget-content">
              <div class="content-title">
                <a href="single-blog.html">Five Things You Need to Know to Start Your Day</a>
              </div>
              <div class="content-meta">
                <ul>
                  <li>
                    <i class="fa fa-clock-o"></i>
                    October 19, 2020 - 2 min
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="latest-widget">
            <div class="latest-widget-thum">
              <a href="single-blog.html">
                <img src="images/blog/blog-thum-10.png" alt="blog-thum" /></a>
              <div class="icon">
                <a href="single-blog.html">
                  <img src="images/blog/icon.svg" alt="icon" /></a>
              </div>
            </div>
            <div class="latest-widget-content">
              <div class="content-title">
                <a href="single-blog.html">Five Things You Need to Know to Start Your Day</a>
              </div>
              <div class="content-meta">
                <ul>
                  <li>
                    <i class="fa fa-clock-o"></i>
                    October 19, 2020 - 2 min
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="latest-widget">
            <div class="latest-widget-thum">
              <a href="single-blog.html">
                <img src="images/blog/blog-thum-11.png" alt="blog-thum" /></a>
              <div class="icon">
                <a href="single-blog.html">
                  <img src="images/blog/icon.svg" alt="icon" /></a>
              </div>
            </div>
            <div class="latest-widget-content">
              <div class="content-title">
                <a href="single-blog.html">Five Things You Need to Know to Start Your Day</a>
              </div>
              <div class="content-meta">
                <ul>
                  <li>
                    <i class="fa fa-clock-o"></i>
                    October 19, 2020 - 2 min
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>